---
- name: Deploy site to IIS
  hosts: "{{ target_hosts }}"
  vars:
    physical_path: "C:\\inetpub\\{{ app_name }}"

  tasks:
    - name: Copy website files to IIS root
      win_copy:
        src: "{{ app_source_path }}"
        dest: "{{ physical_path }}"
        remote_src: false

    - name: Ensure IIS is running
      win_service:
        name: W3SVC
        state: started
        start_mode: auto

    - name: Create a new App Pool
      microsoft.iis.web_app_pool:
        name: "{{ app_pool_name }}"
        state: present

    - name: Stop default site
      microsoft.iis.website:
        name: Default Web Site
        state: stopped

    - name: Create New Site
      microsoft.iis.website:
        name: "{{ app_name }}"
        state: started
        application_pool: "{{ app_pool_name }}"
        physical_path: "{{ physical_path }}"
        bindings:
          - port: "{{ site_port }}"
