---
- name: Install IIS and related features
  hosts: "{{ target_hosts }}"
  tasks:
    - name: Install IIS and ASP.NET 4.5
      win_feature:
        name:
          - Web-Server
          - Web-Asp-Net45
        include_management_tools: yes
        state: present
