---
- name: Install required features
  ansible.builtin.import_playbook: install_features.yaml
  vars:
    target_hosts: servers

- name: Install app
  ansible.builtin.import_playbook: deploy_app.yaml
  vars:
    target_hosts: servers
    app_name: MySite
    app_pool_name: MyAppPool
    site_port: 80
    app_source_path: /usr/local/ansible/MySite/
