---
- name: Sync S3 bucket to local directory
  hosts: localhost
  connection: local
  gather_facts: false

  tasks:
    - name: Ensure local directory exists
      ansible.builtin.file:
        path: "{{ local_sync_path }}"
        state: directory
        mode: '0755'

    - name: Get file from S3
      aws_s3:
        mode: list
        bucket: "{{ bucket_name }}"
        prefix: "{{ s3_prefix }}"
        marker: "{{ s3_prefix }}"
      register: bucket_items

    - name: Download release from S3
      aws_s3:
        mode: get
        bucket: "{{ bucket_name }}"
        object: "{{ item }}"
        dest: "{{ local_sync_path }}/{{ item|basename }}"
      with_items: "{{ bucket_items.s3_keys }}"

    - name: Unarchive zip file
      ansible.builtin.unarchive:
        src: "{{ local_sync_path }}/release.zip"
        dest: "{{ local_sync_path }}"

    - name: Delete zip file
      ansible.builtin.file:
        path: "{{ local_sync_path }}/release.zip"
        state: absent
