---
- name: Update connection string
  hosts: localhost
  connection: local
  gather_facts: false

  tasks:
    - name: Fetch Database Endpoint from AWS Parameter Store (SSM)
      ansible.builtin.set_fact:
        DB_ENDPOINT: "{{ lookup('amazon.aws.aws_ssm', database_endpoint_name) | regex_replace(':1433$', ',1433') }}"
      
    - name: Fetch Database Password from AWS Secrets Manager
      ansible.builtin.set_fact:
        DB_PASSWORD: "{{ lookup('amazon.aws.aws_secret', database_password_name) }}"

    - name: Update database endpoint
      ansible.builtin.replace:
        path: "{{ config_path }}"
        regexp: 'DB_ENDPOINT'
        replace: "{{ DB_ENDPOINT }}"

    - name: Update database password
      ansible.builtin.replace:
        path: "{{ config_path }}"
        regexp: 'DB_PASSWORD'
        replace: "{{ DB_PASSWORD }}"
