name: pr-pipeline
on:
  pull_request:
    branches:
      - main
      - develop
    types:
      - opened
      - synchronize
      - reopened

  workflow_dispatch:    

permissions:
  contents: write
  pull-requests: write
  
jobs:
  cleanup-feature-env-files:
    name: LOG
    runs-on: ubuntu-latest
    steps:
      - name: LOG
        run: echo "PR Pipeline"